.city-heading{
    font-size:20px;
}
.restaurant-name{
    font-size: 25px;
}
.restaurant-image{
    height:80px;
}
.restaurants{
    border-radius: 12px;
    justify-content: space-between;
}
.restaurants:hover{
    background-color: #debeba;
}
.address{
    color:#969997;
}
.see-menu{
    height: 50px;
    width: 100px;
    margin-top: 20px;
}